<% provide(:title, "Log in" ) %>
    <h1><%=t("Form.Login")%></h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= form_with(url: login_path, scope: :session) do |f| %>
                
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control', autocomplete: 'off' %>
                
                <%= f.label :password, t("Form.Password") %>
                <%= f.password_field :password, class: 'form-control', autocomplete: 'off' , placeholder: 'write your password'%>
                
                <%= f.label :remember_me, class: "checkbox inline" do %>
                    <%= f.check_box :remember_me %> <span><%=t("Form.Remember me on this computer")%></span>
                <% end %>

                <%= f.submit t("Form.Login"), class: "btn btn-primary" %>

            <% end %>
            <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        </div>
    </div>
